

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<table style="width:100%">
    <tr>
        <td>
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
            <h2 class="text-danger">@ViewBag.msg</h2>

            @Html.ActionLink("Back", "Index", "ProjectClosure", new { @CompanyId = TempData["CompanyId"] }, new { @class = "btn btn-primary btn-sm sucessbtn" })


        </td>
    </tr>
</table>
<style>
    .sucessbtn {
        float: right !important;
    }
</style>
